<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<div class="movie-details">
  <%= render "form", movie: @movie %>
</div> 

<br>

<div class="movie-actions">
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", movies_path %>
</div>
